<%= render 'shared/logo_top_left' %>

<div class="content-container signup-forms">
  <h2 class="mb-4"> <%= t(".title_for_html") %> </h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: t(".first_name"),
                  input_html: { class: "mb-4",autocomplete: "first-name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: t(".last_name"),
                  input_html: { class: "mb-4",autocomplete: "last-name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: t(".email"),
                  input_html: { class: "mb-4",autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: t(".password"),
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: false,
                  placeholder: t(".password_confirmation"),
                  required: true,
                  input_html: { class: "my-4",autocomplete: "new-password" } %>

      <div class="d-flex align-items-center">
        <label class="button-upload-file mr-2">
        <%= t(".select_picture") %>
        <span style="display:none;">
          <%= f.input :photo, as: :file, input_html: {class: "logo-input"} %>
        </span>
        </label>
        <div class="logo-file-name">
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".signup"), class: "mt-3 button-vamos primary-style w-100"  %>
    </div>
  <% end %>
  <div class="mt-3">
    <%- if controller_name != 'sessions' %>
      <%= link_to "Login", "", data: {toggle: "modal", target: ".bd-example-modal-lg"} %><br />
    <% end %>
  </div>
  <div class="my-4">
    <%= render "devise/shared/links" %>
  </div>
  <div class="white-space-login-page">
  </div>
</div>
