<%= render 'shared/logo_top_left' %>

<div class="content-container login-forms">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "First Name",
                  input_html: { class: "mb-4",autocomplete: "first-name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Last Name",
                  input_html: { class: "mb-4",autocomplete: "last-name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: "Email",
                  input_html: { class: "mb-4",autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  label: false,
                  placeholder: "Password",
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: false,
                  placeholder: "Password Confirmation",
                  required: true,
                  input_html: { class: "my-4",autocomplete: "new-password" } %>

      <div class="d-flex align-items-center">
        <label class="button-upload-file mr-2">
        Select Picture
        <span style="display:none;">
        <%= f.input :photo, as: :file, input_html: {class: "logo-input"} %>
        </span>
        </label>
        <div class="logo-file-name">
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "mt-3 btn btn-primary login-button"  %>
    </div>
  <% end %>
  <div class="my-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
