<div class="content-container">

  <h1>Requests to work with <span style="color: #fb8500"><%= @bookings.first.project.ngo.name %></span></h1>



  <div class="container my-4">
    <div class="ngo-booking">
      <% @bookings.each do |booking| %>
        <div class="row p-1 my-4 shadow">
          <div class="col-9 px-0">
            <div class="project-name py-2"><h3><%= booking.project.title %></h3></div>
            <div class="team-name py-2"> <%= booking.team.name %> </div>
          </div>
          <div class="col-3">

            <% if booking.status == "pending" %>
              <div class="accept-button">
                <%= link_to "Accept", accept_booking_path(booking), method: :patch, class: "btn border rounded"%>
              </div>
              <div class="reject-button">
                <%= link_to "Reject", reject_booking_path(booking), method: :patch, class: "btn border rounded"%>
              </div>

            <% elsif booking.status == "accepted" %>
              <div class="py-4 text-success">Accepted</div>

            <% elsif booking.status == "rejected" %>
              <div class="py-4 text-danger">Rejected</div>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>
  </div>


<% @bookings.each do |booking| %>
  <h3><%= booking.team.name %></h3>
    <div class="team-pop-up">
    <div class="team-avatar" style="background-image: url('<%= booking.first.team.photo.key if booking.team.photo.attached? %>')">
    </div>
    <% booking.team.users.each do |user| %>
      <div class="d-flex align-items-center m-2">
        <div>
          <%= cl_image_tag (user.photo.key if user.photo.attached?), width: 40, height: 40, class: "rounded-circle" %>
        </div>
        <div class="mx-2"><%= user.first_name %> <%= user.last_name %></div>
      </div>
    <% end %>
  </div>
<% end %>

</div>


