
<body>
 <div class="banner home-background" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Volunteering/Volunteering4.jpg"%>'); background-repeat: no-repeat;">
  <div class='container-fluid home-container py-4'>
          <% if user_signed_in? %>

            <div class="d-flex justify-content-between align-items-center navbar-home">
              <div class="position-static">
                <%= render 'shared/logo_top_left' %>
              </div>
              <div class="hide-desktop">
                <h3 class="paragraph-no-margin mt-2"> <%= link_to t("global.navbar.dashboard"), user_profile_path, class: "white mr-4 hide-desktop" %> </h3>
              </div>
            </div>

            <% else %>
            <div class="d-flex justify-content-between align-items-center navbar-home">
              <div class="position-static">
              <%= render 'shared/logo_top_left' %>
              </div>
              <div class="hide-desktop">
                <h3 class="paragraph-no-margin"> <%= link_to t("global.navbar.login"), data: {toggle: "modal", target: ".bd-example-modal-lg"}, class: "nav-link text-homepage mr-2" %> </h3>
              </div>
            </div>
            <% end %>
        <div class="d-flex">
          <div>
            <h1 class="slogan-home"> <%= t(".title_for_html") %> </h1>
            <h3 class="text homepage text-homepage">
              <%= t(".sub_title_for_html") %>
            </h3>
            <%= link_to "Vamos!", new_ngo_path, class: "button-vamos primary-style w-100 mt-3" %>
          </div>
        </div>
    </div>
  </div>

  <!-- USP Description Desktop-->
  <div class="py-3 hide-mobile">
  <h2 class="text-center mt-3"><%= t(".usp_title") %></h2>
  <p class="mt-2 text-center "> <%= t(".usp_sub_title") %></p>

  <div class="d-flex py-5 px-4 justify-content-around align-items-center">

    <div class="usp-info mr-3">
      <div class="d-flex align-items-center">
        <h1><i class="far fa-arrow-alt-circle-right orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".usp1_title") %></h2>
          <p class="paragraph-no-margin"><%= t(".usp1_text") %></p>
        </div>
      </div>


      <div class="d-flex align-items-center mt-5">
        <h1><i class="fas fa-magic orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".usp2_title") %></h2>
          <p><%= t(".usp2_text") %></p>
        </div>
      </div>

      <div class="d-flex align-items-center mt-5">
        <h1><i class="fas fa-users orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".usp3_title") %></h2>
          <p><%= t(".usp3_text") %></p>
        </div>
      </div>
    </div>

    <div class="ml-3 usp-picture-container" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "aboutvamos-banner2.jpg"%>'); background-size: cover; ">

      <div class="d-flex mb-5 usp-box align-items-center">
        <h1><i class="fas fa-long-arrow-alt-down white mr-3"></i></h1>
        <h3 class="white font-weight-normal"><%= t(".key_benefit1") %></h3>
      </div>

      <div class="d-flex usp-box align-items-center">
        <h1><i class="fas fa-long-arrow-alt-up white mr-3"></i></h1>
        <h3 class="white font-weight-normal"><%= t(".key_benefit2") %></h3>
      </div>

    </div>
  </div>
</div>

<!-- USP Description Mobile-->
  <div class="py-3 hide-desktop px-3">
    <h2 class="text-center mt-3"><%= t(".usp_title") %></h2>
    <p class="mt-2 text-center "><%= t(".usp_sub_title") %></p>

    <div class="usp-info mr-3 pl-3 pr-2">
      <div class="d-flex align-items-center">
        <h1><i class="far fa-arrow-alt-circle-right orange mr-4"></i></h1>
        <div>
          <h2 class="orange mt-3"><%= t(".usp1_title") %></h2>
          <h2 class="orange mt-3"><%= t(".usp1_text") %></h2>
          <p class="paragraph-no-margin"></p>
        </div>
      </div>
      <div class="d-flex align-items-center mt-4">
        <h1><i class="fas fa-magic orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".usp2_title") %></h2>
          <p><%= t(".usp2_text") %></p>
        </div>
      </div>

      <div class="d-flex align-items-center mt-4">
        <h1><i class="fas fa-users orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".usp3_title") %></h2>
          <p><%= t(".usp3_text") %></p>
        </div>
      </div>
    </div>

    <div class="d-flex mb-4 mt-5 usp-box align-items-center">
      <h1><i class="fas fa-long-arrow-alt-down white mr-3"></i></h1>
      <h3 class="white font-weight-normal"><%= t(".key_benefit1") %></h3>
    </div>

    <div class="d-flex mb-4 mt-3 usp-box align-items-center">
      <h1><i class="fas fa-long-arrow-alt-up white mr-3"></i></h1>
      <h3 class="white font-weight-normal"><%= t(".key_benefit2") %></h3>
    </div>

  </div>

<!-- Product Description -->
<div class="light-gray-background py-3 px-3">
  <h2 class="text-center mt-4"><%= t(".function_title") %></h2>
  <p class="text-center mt-2"><%= t(".function_sub_title") %></p>

  <div class="product-description d-flex py-4 px-4 hide-desktop justify-content-around align-items-center">

  <%= image_tag "Screens/ngo_screen.png", class: "ngo-screen hide-mobile ml-5"%>

    <div class="usp-info mr-3">
      <div class="d-flex align-items-center">
        <h1><i class="fas fa-check-square orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".function1_title") %></h2>
          <p class="paragraph-no-margin"><%= t(".function1_text") %></p>
        </div>
      </div>
      <div class="d-flex align-items-center mt-5">
        <h1><i class="fas fa-chart-bar orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".function2_title") %></h2>
          <p><%= t(".function2_text") %></p>
        </div>
      </div>

      <div class="d-flex align-items-center mt-5">
        <h1><i class="fas fa-comments orange mr-4"></i></h1>
        <div>
          <h2 class="orange"><%= t(".function3_title") %></h2>
          <p><%= t(".function3_text") %></p>
        </div>
      </div>

    </div>
  </div>
</div>

<!--
End of Product -->

<div class="d-flex justify-content-center text-center py-5 px-3">
  <div>
    <h2 class="bold home-h2-container mt-3"><%= t(".pricing_title") %></h2>
    <p class="ngo-cta"><%= t(".pricing_sub_title") %></p>
    <%= link_to t(".pricing_button"), new_ngo_path, class: "button-vamos primary-style mt-2 mb-3" %>
  </div>
</div>

  <%= render 'shared/login_form' %>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5eabfd9710362a7578be0b03/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

</body>
