<div class="content-container">
  <div class="form-group">

      <h1 class="mb-4">Create your NGO profile</h1>

  <!-- Form -->

      <%= simple_form_for @ngo do |f|  %>
      <% if @ngo.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @garden.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :name, placeholder: 'NGO Name', label:false, class: 'form-control' %>
      <%= f.input :description, placeholder: 'Description', label:false,class: 'form-control' %>
      <%= f.input :address, placeholder: 'Carrer de Ferlandina, 20, 08001 Barcelona, Spain', label:false,class: 'form-control' %>
      <%= f.input :phone, placeholder: 'Phone eg. +34555555', label:false,class: 'form-control' %>
      <label class="button-upload-file">
      Select Logo
      <span style="display:none;">
      <%= f.input :logo, as: :file%>
      </span>
      </label>

      <%= f.submit "Create new NGO", class: "btn btn-primary vamos w-100"%>
      <% end %>

    </div>
  </div>



