<div class="progress-bar-container progress-bar-container-step-3">
  <div class="progress-bar-area">
    <div class="progress" id="steps-progress">
      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-step first-step text-center">
      <p><%= t(".step_1") %></p>
      <i class="fas fa-circle progress-icon" style="position:absolute;color:white;"></i>
      <i class="fas fa-check-circle progress-icon" style="position:relative;bottom:0px;left:0px;"></i>
    </div>
    <div class="progress-step second-step text-center">
      <p><%= t(".step_2") %></p>
      <i class="fas fa-circle progress-icon" style="position:absolute;color:white;"></i>
      <i class="fas fa-check-circle progress-icon" style="position:relative;bottom:0px;left:0px;"></i>
    </div>
    <div class="progress-step third-step text-center">
      <p><%= t(".step_3") %></p>
      <i class="fas fa-circle progress-icon" style="position:absolute;color:white;"></i>
      <i class="far fa-circle progress-icon" style="position:relative;bottom:0px;left:0px;"></i>
    </div>
  </div>
</div>


<div class="application-confirmation-container">
  <%= render 'shared/mobile_navbar' %>
  <div class="confirmation-message pt-3">
    <% if @application.team.users.any? {|user| user.first_name == nil} %>
      <h2 class="text-center mb-4 mt-3"><span class="orange"><%= @application.team.name %></span>, last step!</h2>
      <p>It looks like <strong>not all of your team members have an account</strong> with Vamos. But don't worry, we sent them an <strong>email</strong> so that they can <strong> quickly sign up</strong>.</p>
      <p>When all the profiles are registered, the application will be sent to the NGO.</p>
    <% else %>
      <h2 class="text-center"><span class="orange"><%= @application.team.name %></span>, your application has been sent!</h2>
    <% end %>

  </div>
  <div>
    <h3 class="mt-5 mb-3"><%= @application.project.title %> with <%= @application.project.ngo.name %></h3>
  </div>
  <div class="confirmation-picture mb-5">
    <%= cl_image_tag @application.project.photos.first.key %>
  </div>

  <% if @application.team.users.any? {|user| user.first_name == nil} == false %>
    <div class="d-flex mt-3">
      <%= cl_image_tag @application.project.ngo.user.photo.key, class: "contact-avatar" %>
      <div class="ml-3">
        <h3><%= @application.project.ngo.user.first_name %> is your contact from <%= @application.project.ngo.name %> </h3>
        <h3 class="m-0">Questions?</h3>
        <%= link_to conversation_path(@application.conversation) do  %>
          <h3 class="enter-chat-button">
            Send a message
          </h3>
        <% end %>
      </div>

    </div>

  <% end %>

</div>
