<div class="progress-bar-container progress-bar-container-step-3">
  <div class="progress-bar-area">
    <div class="progress" id="steps-progress">
      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-step first-step text-center">
      <p><%= t(".step_1") %></p>
      <i class="fas fa-circle progress-icon" style="position:absolute;color:white;"></i>
      <i class="fas fa-check-circle progress-icon" style="position:relative;bottom:0px;left:0px;"></i>
    </div>
    <div class="progress-step second-step text-center">
      <p><%= t(".step_2") %></p>
      <i class="fas fa-circle progress-icon" style="position:absolute;color:white;"></i>
      <i class="fas fa-check-circle progress-icon" style="position:relative;bottom:0px;left:0px;"></i>
    </div>
    <div class="progress-step third-step text-center">
      <p><%= t(".step_3") %></p>
      <i class="fas fa-circle progress-icon" style="position:absolute;color:white;"></i>
      <i class="far fa-circle progress-icon" style="position:relative;bottom:0px;left:0px;"></i>
    </div>
  </div>
</div>


<div class="application-confirmation-container">
  <%= render 'shared/mobile_navbar' %>
  <div class="confirmation-message pt-3">
    <% if @application.team.users.any? {|user| user.first_name == nil} %>
      <h2 class="text-center mb-4 mt-3"><%= t(".team_name_for_html", name: @application.team.name) %></h2>
      <p><%= t(".info_text_for_html") %></p>
    <% else %>
      <h2 class="text-center"><span class="orange"><%= @application.team.name %></span><%= t(".application_sent_text") %></h2>
    <% end %>

  </div>
  <div>
    <h3 class="mt-5 mb-3"><%= @application.project.title %> <%= t(".with") %> <%= @application.project.ngo.name %></h3>
  </div>
  <div class="confirmation-picture mb-5">
    <%= cl_image_tag @application.project.photos.first.key %>
  </div>

  <% if @application.team.users.any? {|user| user.first_name == nil} == false %>
    <div class="d-flex justify-content-between mt-1">
      <%= cl_image_tag @application.project.ngo.user.photo.key, class: "contact-avatar" %>
      <div class="ml-3">

        <h3><%= @application.project.ngo.user.first_name %> <%= t(".your_contact_text") %> <%= @application.project.ngo.name %> </h3>
        <h3 class="m-0"><%= t(".question") %></h3>
      </div>
      <div class="button hide-mobile"> <!-- done -->

        <%= link_to conversation_path(@application.conversation) do  %>
          <h3 class="enter-chat-button">
            <%= t(".send_message") %>
          </h3>
        <% end %>
      </div>
    </div>

    <div class="button-1 hide-desktop">
      <%= link_to conversation_path(@application.conversation) do  %>
        <h3 class="enter-chat-button-mobile">
          <%= t(".send_message") %>
        </h3>
      <% end %>
    </div>
    <div class="button go-back mt-2">
      <%= link_to projects_path do  %>
        <h3 class="opportunities-chat-button">
          <%= t('.more_opportunities') %>
        </h3>
      <% end %>
    </div>
  <% else %>
    <div class="d-flex justify-content-between mt-3">
      <%= cl_image_tag @application.project.ngo.user.photo.key, class: "contact-avatar" %>
      <div class="ml-3">
        <h3><%= @application.project.ngo.user.first_name %> <%= t(".your_contact_text") %> <%= @application.project.ngo.name %> </h3>
        <h3 class="m-0"><%= t(".question") %></h3>
      </div>
      <div class="button go-back">
        <%= link_to projects_path do  %>
          <h3 class="opportunities-chat-button">
            <%= t('.more_opportunities') %>
          </h3>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
