<div class="application-confirmation-container">
  <%= render 'shared/mobile_navbar' %>
  <div class="confirmation-message pt-3">
    <% if @application.team.users.any? {|user| user.first_name == nil} %>
      <h2 class="text-center mb-4 mt-3"><%= t(".team_name_for_html", name: @application.team.name) %></h2>
      <p><%= t(".info_text_for_html") %></p>
    <% else %>
      <h2 class="text-center"><span class="orange"><%= @application.team.name %></span><%= t(".application_sent_text") %></h2>
    <% end %>

  </div>
  <div>
    <h3 class="mt-5 mb-3"><%= @application.project.title %> <%= t(".with") %> <%= @application.project.ngo.name %></h3>
  </div>
  <div class="confirmation-picture mb-5">
    <%= cl_image_tag @application.project.photos.first.key %>
  </div>

  <% if @application.team.users.any? {|user| user.first_name == nil} == false %>
    <div class="d-flex mt-3">
      <%= cl_image_tag @application.project.ngo.user.photo.key, class: "contact-avatar" %>
      <div class="ml-3">
        <h3><%= @application.project.ngo.user.first_name %> <%= t(".your_contact_text") %> <%= @application.project.ngo.name %> </h3>
        <h3 class="m-0"><%= t(".questions") %></h3>
        <%= link_to conversation_path(@application.conversation) do  %>
          <h3 class="enter-chat-button">
            <%= t(".send_message") %>
          </h3>
        <% end %>
      </div>

    </div>

  <% end %>

</div>
