<% @project.photos.each do |photo| %>
<%= cl_image_tag photo.key, class: "image-small-height"%>
<% end %>

<div class="content-container-application-new">

  <h2 class="h2-less-margin mb-3"><%= t(".application_overview") %></h2>

  <h3><strong><%= t(".project") %>:</strong> <%= @project.title %></h3>
  <h3><strong><%= t(".organization") %>:</strong> <%= @project.ngo.name %></h3>

    <div class="form-group">
      <%= simple_form_for ([@project, @application])  do |f| %>
        <h3 class="mt-4"><%= t(".selected_team") %></h3>
        <div class="mb-2">
          <%= f.association :team, label: false, input_html: {class: " form-control mt-2"}, collection: current_user.teams, selected: current_user.teams.last%>
        </div>

      <div class="mb-4">
        <h3><%= t(".application_message") %></h3>
        <%= f.simple_fields_for :message do |message_fields| %>
        <%= message_fields.input :body, as: :text, placeholder: t(".motivation"), label: false, input_html: {rows: 5} %>
        <% end %>
      </div>

      <%= f.submit t(".send_application"), class: "button-vamos primary-style w-100 mt-0"%>
      <% end %>
    </div>

    <%= form_tag(new_team_path, :method => "get") do %>
      <%= hidden_field_tag(:id, params[:project_id]) %>
      <%= button_tag :type => "submit", :class => "border-0 mb-5" do %>
      <%= t(".apply") %><i class="mt-2 far fa-arrow-alt-circle-right orange ml-2"></i>
    <% end %>
<% end %>
</div>
