<div class="content-container">
<h2 class="mb-3 border-bottom">Inbox</h2>



<% @conversations.each do |conversation| %>

  <div class="d-flex mb-5">

    <div class="conversation-avatars mr-3">
    <div class="ngo-avatar">
    <%= cl_image_tag conversation.ngo.user.photo.key, class: "avatar" %>
    </div>

    <div class="d-flex">
      <div class="user-avatars">
      <%= cl_image_tag conversation.team.users.first.photo.key, class: "avatar-small" %>
      </div>
      <div class="user-avatars">
      <%= cl_image_tag conversation.team.users.second.photo.key, class: "avatar-small" %>
      </div>
    </div>
    </div>

    <div class="conversation-content">
      <div class="d-flex justify-content-between">
        <div class="conversation-users font-weight-bold">
        <%= conversation.ngo.user.first_name %>,
        <% conversation.team.users_except(current_user).take(2).each do |user|%>
          <% if user == conversation.team.users_except(current_user).take(2).first%>
          <%= user.first_name%>,
          <% else %>
          <%= user.first_name%>
          <% end %>
        <% end %>
        </div>

        <div class="coversation-time">
          <p>7PM</p>
        </div>

      </div>
      <div class="font-weight-light">
        <%= if conversation.messages.last.present?
       conversation.messages.last.body.truncate(70) %>
       <% else %>
       <p>No messages yet - Text a message to the project owner!</p>
       <% end %>
      </div>



    </div>

  </div>
<% end %>

</div>
