<div class="container-fluid">
  <div class="col-sm-10">
     <div class="select-team">
        <h2 class="h2-less-margin my-4">Add your team!</h2>
        <h3 class="my-3 team-form title">Time to create or select your team and volunteer together. Vamos!  </h3>
      <div class="row content-inline justify-content-center">
        <div class="col-md-4 form-group">
            <%= simple_form_for ([@project, @booking])  do |f| %>
              <% if current_user.teams.any? %>
              <h3>Select your team:</h3>
              <%= f.association :team, label: false, input_html: { class: " form-control cinput-sm"}, collection: current_user.teams %>
                       <!--The syntax "f.simple" is used when you are nesting a form inside another form -->
                 <%end%>
                <%= link_to "Create new team", '#', class: "btn btn-primary vamos ngo", id: "show-team-form" %>
                <div id="team-form-display", class="d-none">
                 <div class="col-md-4 form-group">
                  <h3 class="my-3 team-form title">Create a new team:</h3>
                    <%= f.simple_fields_for @new_team do |team_fields| %>
                    <%= team_fields.input :name, placeholder: 'Team name', label: false, class: 'form-control mb-2 mr-sm-2' %>
                    <%= team_fields.input :photo, input_html: { class: 'd-none mb-2 mr-sm-2' }, label_html: { class: 'button-upload-file'}, label: '📷 Team-Photo upload' %>
                    <div id="team_memberships">
                      <%= team_fields.simple_fields_for :team_memberships do |tm| %>
                      <%= render 'team_membership_fields' , f: tm %>
                      <% end %>
                        <div class="links">
                          <%= link_to_add_association 'add another team member', team_fields, :team_memberships %>
                        </div>
                          <%= team_fields.input :selected_project, as: :hidden, input_html: { value: @project.id } %>
                        </div>
                      <%end%>
                      </div>
                    </div>
                </div>
             </div>
            <div>
              <%= f.submit "Apply", class: "btn-primary vamos application"%>
            </div>
          </div>
        </div>
    </div>
        <% end %>
        </div>
        </div>
      </div>
 </div>
</div>
