<div class="container-fluid">
  <div class="col-sm-10">
     <div class="select-team">
        <h2 class="h2-less-margin">Booking form</h2>
        <p class="booking form text form-text"> Time to get involved together! Please select your team in the dropdown-menu, before contacting the NGO. First time you are here? Then you can create your team here! When you've created your team it will appear in the dropdown-menu, ready to be selected. Congrats! You are ready to contact the NGO. </p>
      <div class="row content-inline justify-content-center">
        <div class="col-md-6 form-group">
            <h3>Select your team below:</h3>
          <%= simple_form_for ([@project, @booking])  do |f| %>
            <%= f.association :team, collection: current_user.teams %>
           <div class="form">
               <!--The syntax "f.simple" is used when you are nesting a form inside another form -->
          <h3 class="team-form title">First time here? Create your team!</h3>
            <%= f.simple_fields_for :team do |team_fields| %>
              <%= team_fields.input :name, placeholder: 'Give your team a name', label:false, class: 'form-control' %>
              <%= team_fields.input :photo, as: :file,  class: 'form-control' %>
              <%= team_fields.input :selected_project, as: :hidden, input_html: { value: @project.id } %>
            <% end %>
        </div>
    </div>

            <%= f.submit "Contact the NGO", class: "btn button-apply-show"%>
          <% end %>
        </div>
        <div class="form-group col-md-6">
        </div>
      </div>
 </div>
</div>
