<div class="container-fluid">
  <div class="col-sm-10">
     <div class="select-team">
        <h2 class="h2-less-margin my-4">Add your team!</h2>
        <p class="booking form text form-text"></p>
      <div class="row content-inline justify-content-center">
        <div class="col-md-4 form-group">
          <h3 class="my-3">Select from an existing team:</h3>
          <%= simple_form_for ([@project, @booking])  do |f| %>
            <%= f.association :team, label: false, collection: current_user.teams %>
           <h3 class="text-center my-4"> or </h3>
                     <!--The syntax "f.simple" is used when you are nesting a form inside another form -->
              <h3 class="my-3 team-form title">Create a new team:</h3>
               <div class="col-md-4 form-group">
                  <%= f.simple_fields_for @new_team, wrapper: :inline_form, html: {class: "form-inline"} do |team_fields| %>
                  <%= team_fields.input :name, placeholder: 'Team name', label: false, class: 'form-control mb-2 mr-sm-2' %>
                  <%= team_fields.input :photo, input_html: { class: 'd-none mb-2 mr-sm-2' }, label_html: { class: 'button-upload-file'}, label: '📷 Team-Photo upload' %>
                  <div id="team_memberships">
                    <%= team_fields.simple_fields_for :team_memberships do |tm| %>
                    <%= render 'team_membership_fields' , f: tm %>
                    <% end %>
                      <div class="links">
                        <%= link_to_add_association 'add another team member', team_fields, :team_memberships %>
                      </div>
                        <%= team_fields.input :selected_project, as: :hidden, input_html: { value: @project.id } %>
                      </div>
                  <%end%>
                  </div>
              </div>
           </div>
            <div>
              <%= f.submit "Apply", class: "btn-primary vamos application"%>
            </div>
          </div>
        </div>
    </div>


          <% end %>
        </div>
        </div>
      </div>
 </div>
</div>
