<div class="content-container">
  <div class="d-flex">
  <h2 class="border-bottom">My applications</h2>
  </div>

<% @bookings.each do |booking| %>
  <div class="project-card my-4">
    <div class="project-image" style="background-image: url('<%= cl_image_path booking.project.photos.first.key %>')">

      <div class="interest-icon border rounded-circle">
        <i class="fas fa-leaf"></i>
      </div>

      <% if booking.status == "accepted" %>
      <div class="status-button-accepted-dashboard-user">
      Application Accepted
      </div>
      <% elsif booking.status == "rejected" %>
      <div class="status-button-rejected-dashboard-user">
      Application Rejected
      </div>
      <% else %>
      <div class="status-button-pending-dashboard-user">
      Application Pending
      </div>
      <% end %>

    </div>

    <h5 class="project-title"><%= booking.project.title %></h5>
    <p class="project-ong"><%= booking.project.ngo.name %></p>
    <div class="project-elements d-flex justify-content-left">
      <div class="element"><i class="far fa-clock"></i><%= booking.project.hours_per_week %></div>
      <div class="element"><i class="fas fa-user-friends"></i><%= booking.project.capacity%></div>
      <div class="element"><i class="fas fa-map-marker-alt"></i> 0.5km</div>
    </div>
  </div>

<% end %>
</div>

