<div class="has-navbar-so-margin">
<%= render 'shared/mobile_navbar' %>
<!-- IF USER IS NGO: -->
  <% if current_user.ngo %>
    <!-- NGO infos we only see on mobile: -->
    <div class="content-container-ngo-profile mt-4 mb-1">
      <h1 class="orange-title mb-3"><%= @user.ngo.name %></h1>
      <div class="d-flex align-items-center justify-content-between">
        <div class="ngo-other-info">
          <div class="name-user d-flex align-items-center mb-2">
            <div class="element mr-2">
              <i class="fas fa-user"></i>
            </div>
            <div class="ml-1">
              <h3 class="mb-0"><%= @user.first_name %> <%= @user.last_name %></h3>
            </div>
          </div>
          <div class="email-user-ngo d-flex align-items-center py-2">
            <div class="email-logo mr-2">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="email mr-3">
              <p class="paragraph-no-margin"><%= @user.email %> </p>
            </div>
          </div>
          <div class="phone-user d-flex align-items-center py-2">
            <% if @user.phone.present? %>
              <div class="element mr-2">
                <i class="fas fa-phone"></i>
              </div>
              <div class="phone-user-ngo mr-3">
                <p class="paragraph-no-margin"><%= @user.phone %> </p>
              </div>
            <% else %>
            <% end %>
          </div>
        </div>
        <div>
          <% if @user.ngo.logo.attached? %>
            <%= cl_image_tag @user.ngo.logo.key, class: "ngo-image"%>
          <% else %>
            <img class="ngo-image" src="https://www.tibs.org.tw/images/default.jpg" alt="">
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <%= link_to "Sign out",  destroy_user_session_path , method: :delete, class: "create-team-button" %>
      </div>


    </div>
    <!-- container NGO-->
    <div class="content-container-ngo">
      <div class="row ngo-all-desktop">
        <div class="col-4 ngo-datas">
          <div class="card-ngo-profile">
            <div class="ngo-info">
              <a href="">
              <p class="edit-profile-button">Edit profile</p>
              </a>
              <%= cl_image_tag current_user.photo.key, class: "ngo-image-desktop"%>
              <h2 class="orange-title-desktop mb-3"><%= @user.ngo.name %></h2>
              <div class="ngo-other-info">
                <div class="name-user d-flex align-items-center mb-2">
                  <div class="element mr-2">
                    <i class="fas fa-user"></i>
                  </div>
                  <div class="ml-1">
                    <h3 class="mb-0"><%= @user.first_name %> <%= @user.last_name %></h3>
                  </div>
                </div>
                <div class="email-user-ngo d-flex align-items-center py-2">
                  <div class="email-logo mr-2">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="email mr-3">
                    <p class="paragraph-no-margin"><%= @user.email %> </p>
                  </div>
                </div>
                <div class="phone-user d-flex align-items-center">
                  <% if %>
                    <div class="element mr-2">
                      <i class="fas fa-phone"></i>
                    </div>
                    <div class="phone-user-ngo mr-3">
                      <p class="paragraph-no-margin"><%= @user.phone %> </p>
                    </div>
                  <% else %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div id="button-info mb-5"class="d-flex button mt-4">
              <%= link_to "Create Project", new_project_path, class: "button-vamos primary-style w-100 mt-1"  %>
            </div>
        </div>
        <div class="col-12 col-lg-8 tab-datas">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h5 class="orange-title">Applications</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h5 class="orange-title">Projects</h5></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!-- desktop version of application-->
        </div> <!-- don't touch end of tab-->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <!-- project part NGO -->
          <div class="content-container-profile-ngo-project">
            <div class="container ngo-app-datas">
              <% @user.ngo.projects.each do |project| %>
                <div class="project-card-profile flex-md-row mb-4 mt-3">
                  <div class="project-image" style="background-image: url('<%= cl_image_path project.photos.first.key if project.photos.attached? %>')">
                    <div class="interest-icon border rounded-circle">
                      <% if project.category == "Children" %>
                        <i class="icon fas fa-child"></i>
                      <% elsif project.category == "Social" %>
                        <i class="icon fas fa-user-friends"></i>
                      <% elsif project.category == "Cultural" %>
                        <i class="icon fas fa-music"></i>
                      <% elsif project.category == "Environment" %>
                        <i class="icon fas fa-leaf"></i>
                      <% else project.category == "Elderly Care" %>
                        <i class="icon fab fa-accessible-icon"></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="project-text-stuff">
                    <h5 class="project-title"><%= project.title %></h5>
                    <p class="project-ong"><%= project.ngo.name %></p>
                    <div class="project-elements d-flex justify-content-left">
                      <div class="element"><i class="far fa-clock"></i><%= project.hours_per_week %>h/week</div>
                      <div class="element"><i class="fas fa-user-friends"></i><%= project.capacity %></div>
                      <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>">calculating...</span></div>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="d-flex justify-content-center mt-2">
                <%= link_to "CREATE PROJECT", new_project_path, class: "button-vamos primary-style w-100 mt-0"  %>
              </div>
            </div>
          </div>
        </div> <!-- end of the tab -->
      </div>
    </div>

<!-- IF USER IS VOLUNTEER: -->
  <% else %>

    <div class="content-container-profile border-bottom py-3 my-1">
      <div class="d-flex">
        <div class="element-1">
          <%= cl_image_tag @user.photo.key, class: "user-image" %>
        </div>
        <div class="element-2 user-other-info">
          <h5 class="py-1"><%= @user.first_name %> <%= @user.last_name %></h5>
          <div class="email-user-ngo d-flex align-items-center my-2">
            <div class="email-logo mr-2">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="email mr-3">
              <p class="paragraph-no-margin"><%= @user.email %> </p>
            </div>
          </div>
          <div class="phone-user d-flex align-items-center">
            <% if @user.phone.present? %>
              <div class="element mr-2">
                <i class="fas fa-phone"></i>
              </div>
              <div class="phone-user-ngo mr-3">
                <p class="paragraph-no-margin"><%= @user.phone %> </p>
              </div>
            <% else %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between mt-4">
            <div></div>
            <%= link_to "Sign out",  destroy_user_session_path , method: :delete, class: "create-team-button" %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-container-profile-team border-bottom pb-4 mt-3 mb-0">
      <div class=" d-flex justify-content-between align-items-center">
        <h2 class="orange-title">My teams</h2>
      </div>

      <% @user.teams.each do |team| %>
        <div class="team-container">
          <h5 class="team-name text-center mt-2"><%= team.name %></h5>
          <div class=" user-photo d-flex justify-content-around mt-2">
            <% team.users.each do |user| %>

              <div class= "team-member-yes-exist-volunteer text-center mb-3">
                <div class= "mb-2 mr-3"> <%= cl_image_tag user.photo.key, width: 60, height: 60, class: "rounded-circle-volunteer" %>
                  <%= user.first_name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= link_to new_team_path do %>
        <div class="create-team-button-alternative text-center">
          <p class="p-size">Create a team</p>
        </div>
      <% end %>
    </div>

    <div class="content-container-profile mt-3">
      <h2 class="orange-title">My Application</h2>
    </div>
    <div class="content-container-profile mt-3">

    <% current_user.bookings.each do |booking| %>
    <%= link_to project_path(booking.project) do %>
      <div class="project-card-profile flex-md-row mb-4 mt-3">
        <div class="project-image" style="background-image: url('<%= cl_image_path booking.project.photos.first.key if booking.project.photos.attached? %>')">
          <div class="interest-icon border rounded-circle">
            <% if booking.project.category == "Children" %>
            <i class="icon fas fa-child"></i>
            <% elsif booking.project.category == "Social" %>
            <i class="icon fas fa-user-friends"></i>
            <% elsif booking.project.category == "Cultural" %>
            <i class="icon fas fa-music"></i>
            <% elsif booking.project.category == "Environment" %>
            <i class="icon fas fa-leaf"></i>
            <% else booking.project.category == "Elderly Care" %>
            <i class="icon fab fa-accessible-icon"></i>
            <% end %>
          </div>
          <% if booking.status == "accepted" %>
          <div class="accepted-button status-button">
            Accepted
          </div>
          <%= link_to new_booking_review_path(booking)  do  %>
          <div class="review-button">
            Add a review
          </div>
          <% end %>

          <% elsif booking.status == "rejected" %>
          <div class="rejected-button status-button">
            Rejected
          </div>
          <% else %>
          <div class="pending-button status-button">
            Pending
          </div>
          <% end %>
        </div>
        <div class="project-text-stuff">
          <h5 class="project-title"><%= booking.project.title.truncate(33) %></h5>
          <p class="project-ong"><%= booking.project.ngo.name %></p>
          <div class="project-elements d-flex justify-content-left">
          <div class="element"><i class="far fa-clock"></i><%= booking.project.hours_per_week %>h/week</div>
          <div class="element"><i class="fas fa-user-friends"></i><%= booking.project.capacity %></div>
          <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= booking.project.latitude %>" data-longitude="<%= booking.project.longitude %>">calculating...</span></div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>

  <% end %>

</div>

