<!-- Mobile version -->
<div class="mobile-projects-index">
  <div class="has-navbar-so-margin">
    <%= render 'shared/mobile_navbar' %>
    <div class = "content-container">
      <div class="mobile-card-container my-3">
        <h2 class="title-mobile"> <%= t(".your_projects") %> </h2>
        <% @ngo_projects.each do |project| %>
          <%= link_to project_path(project) do %>
            <div class="mobile-project-card my-4">

              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <% project.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>" class="active"></li>
                    <% else %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>"></li>
                    <% end %>
                  <% end %>
                </ol>
                <div class="carousel-inner">
                  <% project.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                      <div class="carousel-item active">
                        <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                        <%= render "projects/partial_card_icons", project: project %>
                      </div>
                    <% else %>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                        <%= render "projects/partial_card_icons", project: project %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="project-text-stuff ml-2">
                <h5 class="mt-2"><%= link_to project.title, project_path(project), class: "project-title"%></h5>
                <p class="project-ong"><%= project.ngo.name if project.ngo %></p>

                <% spots_taken_count = 0 %>
                <% project.applications.each do |application| %>
                      <% application_status = application.status %>
                      <% if application_status == "accepted" %>
                        <% team_id = application.team_id %>
                        <% team = Team.find(team_id) %>
                        <% total_members = team.team_memberships.count %>
                        <% total_members %>
                        <% spots_taken_count += total_members %>
                      <% end %>
                <% end %>
                <% spots_left = project.capacity - spots_taken_count %>
                <% spots_left %>

                <div class="project-elements d-flex justify-content-left">
                  <div class="element"><i class="far fa-clock"></i><%= project.start_date.strftime("%d %B") %></div>
                  <% if spots_left > 0 %>
                    <div class="element"><i class="fas fa-user-friends"></i><%= spots_left%> spots</div>
                  <% else %>
                    <div class="element"><i class="fas fa-user-friends"></i> Full</div>
                  <% end %>
                  <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>">calculating...</span></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <!-- Create your team button -->
        <%= link_to t(".create_project_button"), new_project_path, class: "button-vamos primary-style w-100 mt-3 px-3" %>

      </div>
    </div>
  </div>
</div>
<!-- desktop version -->
<div class="has-navbar-so-margin">
<%= render 'shared/mobile_navbar' %>
<div class="desktop-projects-index">
  <div class="desktop-card-container">
    <div class="row">
      <div class="col-8">
        <div class="project-lists">
          <% @ngo_projects.each do |project| %>
          <%= link_to project_path(project) do %>
            <div class="row mx-3 py-4 border-top">
              <div class = "desktop-project-card">
                <div>
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <% project.photos.each_with_index do |photo, index| %>
                        <% if index == 0 %>
                          <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>" class="active"></li>
                        <% else %>
                          <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>"></li>
                        <% end %>
                      <% end %>
                    </ol>
                    <div class="carousel-inner">
                      <% project.photos.each_with_index do |photo, index| %>
                        <% if index == 0 %>
                          <div class="carousel-item active">
                            <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                          </div>
                        <% else %>
                          <div class="carousel-item">
                            <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="project-text-stuff ml-3">
                  <h5><%= link_to project.title, project_path(project), class: "project-title"%></h5>
                  <p class="project-ong my-2"><%= project.ngo.name if project.ngo %></p>

                  <% spots_taken_count = 0 %>
                  <% project.applications.each do |application| %>
                    <% application_status = application.status %>
                    <% if application_status == "accepted" %>
                      <% team_id = application.team_id %>
                      <% team = Team.find(team_id) %>
                      <% total_members = team.team_memberships.count %>
                      <% total_members %>
                      <% spots_taken_count += total_members %>
                    <% end %>
                  <% end %>
                  <% spots_left = project.capacity - spots_taken_count %>
                  <% spots_left %>
                  
                  <div class="project-elements d-flex">
                    <div class="element mr-3"><i class="far fa-clock"></i><%= project.start_date.strftime("%d %B") %></div>
                    <div class="element mr-3"><i class="fas fa-user-friends"></i>
                      <% if spots_left == 0 %>
                        <%= %> Full
                      <% elsif spots_left == 1 %>
                        <%= spots_left%> spot left
                      <% else %>
                        <%= spots_left%> spots left
                      <% end %>
                    </div>
                    <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>">calculating...</span></div>
                  </div>
                  <div class="project-description mt-4">
                    <p class="paragraph-no-margin"><%= project.description %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>

        <!-- Create your team button -->
        <%= link_to t(".create_project_button"), new_project_path, class: "button-vamos primary-style mt-3 mb-5", id: "button-info-desktop" %>

      </div>
      <div class="col-4">
        <div class="image-container">
          <%= image_tag "volunteer_img_ngo.jpg", class: "filter-image"%>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
