<div class="px-2 py-2 border-bottom desktop-navbar-container d-flex justify-content-between align-items-center">
  <% if user_signed_in? %>
    <div class="nav-logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "Vamos_logo_final.png"%>
      <% end %>
    </div>
    <div>
      <%= link_to user_profile_path(current_user) do %>
        <i class="far fa-user nav-icon"></i>
      <% end %>
    </div>
  <% else %>
    <div class="nav-logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "Vamos_logo_final.png"%>
      <% end %>
    </div>
    <div>
      <%= link_to user_profile_path(current_user) do %>
        <i class="far fa-user nav-icon"></i>
      <% end %>
    </div>
  <% end %>
</div>
