<div class="mobile-navbar d-flex justify-content-around align-items-center">

  <% if user_signed_in? %>

    <div class="nav-element <%= "active" if current_page?(controller: "projects", action: "index") %>">
      <%= link_to "/projects" do %>
        <div>
          <i class="fas fa-list nav-icon"></i>
          <p class="nav-icon-tag">EXPLORE</p>
        </div>
      <% end %>
    </div>
    <div class="nav-element <%= "active" if current_page?(user_profile_path(current_user)) %>">
      <%= link_to user_profile_path(current_user) do %>
        <div>
          <i class="far fa-user nav-icon"></i>
          <p class="nav-icon-tag">PROFILE</p>
        </div>
      <% end %>
    </div>
    <div class="nav-element <%= "active" if current_page?(conversations_path) %>">
      <%= link_to conversations_path do %>
        <div>
          <i class="far fa-comment-alt nav-icon"></i>
          <p class="nav-icon-tag">MESSAGES</p>
        </div>
      <% end %>
    </div>

  <% else %>

    <div class="nav-logo">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "Vamos_logo_final.png"%>
      <% end %>
    </div>
    <div class="nav-element">
      <%= link_to "/users/sign_in" do %>
        <div>
          <i class="far fa-user nav-icon"></i>
          <p class="nav-icon-tag">SIGN IN</p>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
