<div class="banner">
  <img src="<%= image_path "aboutvamos-banner2.jpg"%>" alt="" class="aboutvamos-banner">
  This is a banner
</div>

<div class="team-container">
  <h4 class="mt-3"><%= t(".vision_title") %></h4>
  <hr style="height:2px;width:15%;text-align:left;margin-left:0;border-width:0;background-color:orange;">
  <div class="vamos-story-text pt-3 pb-5">
  <%= t(".vision_text") %>
  </div>
</div>

<div class="motivational-quote">
  <h2 class="team-container font-italic"><%= t(".quote") %><br> Vamos!</h2>
</div>
<div class="team-container mb-5">
  <h4 class="founders-title"><%= t(".team_title") %></h4>
  <hr style="height:2px;width:15%;text-align:left;margin-left:0;border-width:0;background-color:orange;">
  <div class="vamos-team d-flex justify-content-around">
    <div class="vamos-member">
      <img src="<%= image_path "vamos_members/michael.png"%>" class="member-picture" alt="">
      <p class="member-name">Michael Wlaschitz</p>
      <p class="member-role">CEO</p>
      <a href="https://www.linkedin.com/in/michael-wlaschitz/" target="_blank">
        <div class="linkedin-icon">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
    </div>
    <div class="vamos-member">
      <img src="<%= image_path "vamos_members/joyce.png"%>" class="member-picture" alt="">
      <p class="member-name">Joyce Cakmak</p>
      <p class="member-role">CMO</p>
      <a href="https://www.linkedin.com/in/joyce-cakmak/" target="_blank">
        <div class="linkedin-icon">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
    </div>
    <div class="vamos-member">
      <img src="<%= image_path "vamos_members/elena.png"%>" class="member-picture" alt="">
      <p class="member-name">Elena Vigo</p>
      <p class="member-role">CTO</p>
      <a href="https://www.linkedin.com/in/evigo/" target="_blank">
        <div class="linkedin-icon">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
    </div>
    <div class="vamos-member">
      <img src="<%= image_path "vamos_members/juan.png"%>" class="member-picture" alt="">
      <p class="member-name">Juan Estrella</p>
      <p class="member-role">CPO</p>
      <a href="https://www.linkedin.com/in/juaniestrella/" target="_blank">
        <div class="linkedin-icon">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
    </div>
  </div>


  <h4 class="advisors-title"><%= t(".team_advisors") %></h4>
  <hr style="height:2px;width:15%;text-align:left;margin-left:0;border-width:0;background-color:orange;">
  <div class="vamos-team d-flex justify-content-center">
    <div class="vamos-member">
      <img src="<%= image_path "vamos_members/florian.jpg"%>" class="member-picture" alt="">
      <p class="member-name">Florian Ott</p>
      <p class="member-role"><%= t(".role_florian") %>, IBM</p>
      <a href="#" target="_blank">
        <div class="linkedin-icon">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
    </div>
  </div>
</div>
