<div class="desktop-with-pic">
  <div class="filter-container">
    <div class="filter-form">
      <h2 class="mt-5">
        <%= t(".select_causes_for_html") %>
      </h2>

      <div class="filter-content">
        <div class="form-group">
          <%= form_tag(filter_timeframe_path, :method => "get", local: true) do %>
            <% hidden_field_tag(:address, params[:address]) %>
            <%= render "projects/partial_filter_boxes_interest" %>
            <% if params[:categories].present? %>
              <% categories.each do |category| %>
              <%= hidden_field_tag(:categories[], category) %>
              <% end %>
            <% end %>
            <%= button_tag :type => "submit", :class => "filter-submit" do %>
              <i class='fas fa-chevron-right'></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
      </div>
    </div>
  </div>
  <div class="filter-image-container">
    <%= image_tag "interest.jpg", class: "filter-image"%>
  </div>
</div>
