<body>
  <div class="banner home-background" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Volunteering/Volunteering5.jpg"%>'); background-repeat: no-repeat;">
    <div class='container-fluid home-container py-4'>
      <% if user_signed_in? %>
      <div class="d-flex justify-content-between align-items-center navbar-home">
        <div class="position-static">
          <%= render 'shared/logo_top_left' %>
        </div>
        <div class="hide-desktop">
          <h3 class="paragraph-no-margin mt-2"> <%= link_to t("global.navbar.dashboard"), user_profile_path, class: "white mr-4 hide-desktop" %> </h3>
        </div>
      </div>

      <% else %>
      <div class="d-flex justify-content-between align-items-center navbar-home">
        <div class="position-static">
        <%= render 'shared/logo_top_left' %>
        </div>
        <div class="hide-desktop">
          <h3 class="paragraph-no-margin"> <%= link_to t("global.navbar.login"), "", data: {toggle: "modal", target: ".bd-example-modal-lg"}, class: "nav-link text-homepage mr-2" %> </h3>
        </div>
      </div>
      <% end %>

      <div class="d-flex">
        <div>
          <h1 class="slogan-home"><%= t(".title_for_html") %></h1>
          <h3 class="text homepage text-homepage">
            <%= t(".sub_title_for_html") %>
          </h3>

          <%= link_to "Vamos!", filter_location_path, class: "button-vamos primary-style w-100 mt-3" %>

          <h3 class="text-right mt-4 "><%= link_to t(".find"), new_ngo_path, class: "white hide-desktop"%></h3>
        </div>
      </div>
    </div>
  </div>

<!-- USP Description -->

  <div class="usp-description d-flex py-5 px-4 hide-desktop justify-content-around align-items-center">
    <%= image_tag "Screens/index.png", class: "phone-screen hide-mobile ml-5"%>

    <div class="usp-info mr-3">
      <div class="d-flex align-items-center">
        <h2><i class="fas fa-search orange mr-4"></i></h2>
        <div>
          <h2 class="orange"> <%= t(".function1_title") %> </h2>
          <p><%= t(".function1_text") %></p>
        </div>
      </div>

      <div class="d-flex align-items-center mt-5">
        <h2><i class="fas fa-file-alt orange mr-4"></i></h2>
        <div>
          <h2 class="orange"><%= t(".function2_title") %> </h2>
          <p><%= t(".function2_text") %></p>
        </div>
      </div>

      <div class="d-flex align-items-center mt-5">
        <h2><i class="fas fa-comments orange mr-4"></i></h2>
        <div>
        <h2 class="orange"> <%= t(".function3_title") %> </h2>
        <p><%= t(".function3_text") %></p>
        </div>
      </div>

    </div>
  </div>

<!-- CTA NGO
 -->

<div class="d-flex justify-content-center text-center light-gray-background">
  <div>
    <h2 class="bold home-h2-container"><%= t(".ngo_cta_title") %></h2>
    <p><%= t(".ngo_cta_text_for_hmtl") %></p>
    <%= link_to t(".ngo_cta_button"), new_ngo_path, class: "button-vamos primary-style mt-2" %>
  </div>
</div>

<!-- App Description
 -->
<div class="content-container hide-mobile">
  <div class="product-description mt-5">
    <h2 clas="orange"><%= t(".process_title") %></h2>

    <div class="d-flex align-items-top mt-5 mb-5 justify-content-center">

      <div class="feature-info text-center">
        <h2><i class="fas fa-filter orange mb-2"></i></h2>
        <p><%= t(".process_step1") %></p>
      </div>

      <i class="fas fa-chevron-right mx-4 mt-2 orange"></i>

      <div class="feature-info text-center">
        <h2><i class="fas fa-info-circle orange mb-2"></i></h2>
        <p><%= t(".process_step2") %></p>
      </div>

      <i class="fas fa-chevron-right mx-4 orange mt-2 "></i>

       <div class="feature-info text-center">
        <h2><i class="fas fa-file-alt orange mb-2"></i></h2>
        <p><%= t(".process_step3") %></p>
        </div>

      <i class="fas fa-chevron-right mx-4 orange mt-2 "></i>

      <div class="feature-info text-center">
        <h2><i class="fas fa-comments orange mb-2"></i></h2>
        <p><%= t(".process_step4") %></p>
      </div>

    </div>
  </div>
</div>

<!-- Vision
 -->
<!--     desktop vision -->
<div class="hide-mobile light-gray-background banner-vision text-align-center" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Vision/vision3.jpg"%>'); background-size: cover; background-position: center;">
  <div class="content-container">
    <div class="vision-card d-flex align-items-center">
      <h1><i class="fas fa-heartbeat orange mr-5"></i></h1>
      <div>
        <h2 class="bold home-h2-container"><%= t(".vision_title") %> </h2>
        <p> <%= t(".vision_text") %></p>
      </div>
    </div>
  </div>
</div>

<!--     mobile vision -->
<div class="hide-desktop light-gray-background" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Vision/vision3.jpg"%>'); background-size: cover; background-position: center;">
  <div class="content-container">

    <div class="vision-card text-center">
    <h1><i class="fas fa-heartbeat orange"></i></h1>
    <h2 class="bold home-h2-container"><%= t(".vision_title") %> </h2>
    <p><%= t(".vision_text") %></p>
    </div>
  </div>
</div>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5eabfd9710362a7578be0b03/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
  <!--End of Tawk.to Script-->
</body>
