<body>
  <div class="banner home-background" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Volunteering/Volunteering5.jpg"%>'); background-repeat: no-repeat;">
    <div class='home-container py-4'>
      <% if user_signed_in? %>
      <div class="d-flex justify-content-between align-items-center navbar-home">
        <div class="position-static">
          <%= render 'shared/logo_top_left' %>
        </div>
        <div class="hide-desktop">
          <h3 class="paragraph-no-margin mt-3"> <%= link_to t("global.navbar.my_profile"), user_profile_path, class: "white hide-desktop" %> </h3>
        </div>
      </div>
      <%= render 'shared/languages_bottom_left' %>
      <% else %>
      <div class="d-flex justify-content-between align-items-center navbar-home">
        <div class="position-static">
        <%= render 'shared/logo_top_left' %>
        </div>
        <div class="hide-desktop">
          <h3 class="paragraph-no-margin"> <%= link_to t("global.navbar.login"), "", data: {toggle: "modal", target: ".bd-example-modal-lg"}, class: "nav-link text-homepage mr-2" %> </h3>
        </div>
      </div>

      <%= render 'shared/languages_bottom_left' %>
      <% end %>

      <div class="d-flex">
        <div>
          <h1 class="slogan-home"><%= t(".title_for_html") %></h1>
          <h3 class="text homepage text-homepage">
            <%= t(".sub_title_for_html") %>
          </h3>

          <%= link_to "Vamos!", filter_location_path, class: "button-vamos primary-style w-100 mt-3" %>

          <h3 class="mt-4 text-right"><%= link_to t(".find"), new_ngo_path, class: "white hide-desktop"%></h3>
        </div>
      </div>
    </div>
  </div>


  <!-- Example Team Desktop -->

  <div class="example-team hide-mobile" style="background-image: linear-gradient(rgba(255,255,255, 0.92),rgba(255,255,255,0.92)), url('<%= image_path "landing_page/background_team.jpg"%>'); background-repeat: no-repeat;">

    <div class="content-container d-flex align-items-center mt-5 justify-content-around">
      <div>
        <h2 class="font-weight-normal mb-4"><%= t(".team_name_for_html") %> </h2>
        <div class="d-flex">
          <div class="text-center  mr-4 team-member-card">
            <%= image_tag "exampleteam/boy1.jpg", alt: "Potrait picture of a white boy smiling", class: "avatar-x-large mb-2"%>
            <h3 class="paragraph-no-margin mb-2"><%= t(".lukas_for_html") %> </h3>
            <p class="paragraph-no-margin"><%= t(".business_student") %> </p>
          </div>

          <div class="text-center mr-4 team-member-card">
            <%= image_tag "exampleteam/girl1.jpg", alt: "Potrait picture of a white girl smiling", class: "avatar-x-large mb-2"%>
            <h3 class="paragraph-no-margin mb-2"><%= t(".sophie_for_html") %> </h3>
            <p class="paragraph-no-margin"><%= t(".graphic_designer") %> </p>
          </div>

          <div class="text-center mr-4 team-member-card">
            <%= image_tag "exampleteam/boy2.jpg", alt: "Potrait picture of a black boy smiling", class: "avatar-x-large mb-2"%>
            <h3 class="paragraph-no-margin mb-2"><%= t(".max_for_html") %> </h3>
            <p class="paragraph-no-margin"><%= t(".event_manager") %> </p>
          </div>

          <div class="text-center mr-5 team-member-card">
            <%= image_tag "exampleteam/girl2.jpg", alt: "Potrait picture of a white girl smiling", class: "avatar-x-large mb-2"%>
            <h3 class="paragraph-no-margin mb-2"><%= t(".lisa_for_html") %> </h3>
            <p class="paragraph-no-margin"><%= t(".medical_student") %> </p>
          </div>
        </div>
      </div>

      <div>
        <h1 class="team-cta-card large bold"><%= t(".volunteer_cta_title_for_html") %></h1>
        <p class="team-cta-card-small mt-3 usp-feature-text"><%= t(".volunteer_cta_sub_title") %></p>
        <%= link_to t(".volunteer_cta_button"), filter_location_path, class: "button-vamos primary-style w-100 mt-3" %>
      </div>
    </div>

  </div>

  <!-- Example Team Mobile -->

  <div class="mb-5 content-container hide-desktop text-center">

    <div>
        <h1 class="team-cta-card large bold"><%= t(".volunteer_cta_title_for_html") %></h1>
        <p class="team-cta-card-small mt-3"><%= t(".volunteer_cta_sub_title") %></p>
        <%= link_to t(".volunteer_cta_button"), filter_location_path, class: "button-vamos primary-style w-100 mt-3" %>
    </div>

    <h2 class="font-weight-normal mb-3 mt-5"><%= t(".team_name_for_html") %> </h2>
    <div class="d-flex justify-content-around mb-4 mt-5">
      <div class="text-center  mr-4 team-member-card">
        <%= image_tag "exampleteam/boy1.jpg", alt: "Potrait picture of a white boy smiling", class: "avatar-x-large mb-2"%>
        <h3 class="paragraph-no-margin mb-2"><%= t(".lukas_for_html") %> </h3>
        <p class="paragraph-no-margin"><%= t(".business_student") %> </p>
      </div>

      <div class="text-center mr-3 team-member-card">
        <%= image_tag "exampleteam/girl1.jpg", alt: "Potrait picture of a white girl smiling", class: "avatar-x-large mb-2"%>
        <h3 class="paragraph-no-margin mb-2"><%= t(".sophie_for_html") %> </h3>
        <p class="paragraph-no-margin"><%= t(".graphic_designer") %> </p>
      </div>
    </div>

    <div class="d-flex justify-content-around">
      <div class="text-center mr-3 team-member-card">
        <%= image_tag "exampleteam/boy2.jpg", alt: "Potrait picture of a black boy smiling", class: "avatar-x-large mb-2"%>
        <h3 class="paragraph-no-margin mb-2"><%= t(".max_for_html") %> </h3>
        <p class="paragraph-no-margin"><%= t(".event_manager") %> </p>
      </div>

      <div class="text-center mr-3 team-member-card">
        <%= image_tag "exampleteam/girl2.jpg", alt: "Potrait picture of a white girl smiling", class: "avatar-x-large mb-2"%>
        <h3 class="paragraph-no-margin mb-2"><%= t(".lisa_for_html") %> </h3>
        <p class="paragraph-no-margin"><%= t(".medical_student") %> </p>
      </div>
    </div>


  </div>

  <!-- Barcelona    -->

  <div class="banner city-home" style="background-image: linear-gradient(rgba(255,255,255, 0.03),rgba(255,255,255,0.03)), url('<%= image_path "landing_page/barcelona.jpg"%>'); background-size: cover; background-position: center">
  <h1 class="pl-4 slogan-home-city bold"><%= t(".city_title_for_html") %> </h1>

  <%= link_to t(".city_cta"), filter_location_path, class: "button-vamos primary-style mt-3 ml-4" %>

  </div>


  <!-- USP Description -->
  <div class="hide-desktop mb-4 mt-5">
    <h1 class="bold large px-4"><%= t(".function_title") %> </h1>
    <hr style="height:2px;width:50%;text-align:left;margin-left:0;border-width:0;background-color:orange">
  </div>

  <div class="hide-mobile mb-4 mt-5 text-center">
    <h1 class="bold large px-4"><%= t(".function_title") %> </h1>
    <hr style="height:2px;width:25%;text-align:center;border-width:0;background-color:orange">
  </div>

    <div class="usp-description d-flex px-4 hide-desktop justify-content-center align-items-center">


      <div class="usp-info">
        <div class="d-flex align-items-center">
          <h2><i class="fas fa-search orange mr-4"></i></h2>
          <div>
            <h2 class="orange usp-feature-title"> <%= t(".function1_title") %> </h2>
            <p class="usp-feature-text"><%= t(".function1_text") %></p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-5">
          <h2><i class="fas fa-file-alt orange mr-4"></i></h2>
          <div>
            <h2 class="orange usp-feature-title"><%= t(".function2_title") %> </h2>
            <p class="usp-feature-text"><%= t(".function2_text") %></p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-5">
          <h2><i class="fas fa-comments orange mr-4"></i></h2>
          <div>
          <h2 class="orange usp-feature-title"> <%= t(".function3_title") %> </h2>
          <p class="usp-feature-text"><%= t(".function3_text") %></p>
          </div>
        </div>
      </div>

      <%= image_tag "Screens/index.jpg", alt: "Phone with open Vamos app showing volunteering projects", class: "phone-screen hide-mobile"%>
    </div>

  <!-- CTA NGO
   -->

  <div class="d-flex justify-content-center text-center light-gray-background">
    <div>
      <h2 class="bold home-h2-container"><%= t(".ngo_cta_title") %></h2>
      <p><%= t(".ngo_cta_text_for_html") %></p>
      <%= link_to t(".ngo_cta_button"), ngos_home_path, class: "button-vamos primary-style mt-2" %>
    </div>
  </div>

  <!-- App Description
   -->
  <div class="content-container hide-mobile">
    <div class="product-description">
      <h2 class="orange ml-3"><%= t(".process_title") %></h2>

      <div class="d-flex align-items-top mt-5 mb-5 justify-content-around">

        <div class="feature-info text-center">
          <h2><i class="fas fa-filter orange mb-2"></i></h2>
          <p><%= t(".process_step1") %></p>
        </div>

        <i class="fas fa-chevron-right mx-4 mt-2 orange"></i>

        <div class="feature-info text-center">
          <h2><i class="fas fa-info-circle orange mb-2"></i></h2>
          <p><%= t(".process_step2") %></p>
        </div>

        <i class="fas fa-chevron-right mx-4 orange mt-2 "></i>

         <div class="feature-info text-center">
          <h2><i class="fas fa-file-alt orange mb-2"></i></h2>
          <p><%= t(".process_step3") %></p>
          </div>

        <i class="fas fa-chevron-right mx-4 orange mt-2 "></i>

        <div class="feature-info text-center">
          <h2><i class="fas fa-comments orange mb-2"></i></h2>
          <p><%= t(".process_step4") %></p>
        </div>

      </div>
    </div>
  </div>

  <!-- Vision
   -->
  <!--     desktop vision -->
  <div class="hide-mobile light-gray-background banner-vision desktop-vision text-align-center" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Vision/vision3.jpg"%>'); background-size: cover; background-position: center;">
    <div class="content-container">
      <div class="vision-card d-flex align-items-center">
        <h1><i class="fas fa-heartbeat orange mr-5"></i></h1>
        <div>
          <h2 class="bold home-h2-container"><%= t(".vision_title") %> </h2>
          <p> <%= t(".vision_text") %></p>
        </div>
      </div>
    </div>
  </div>

  <!--     mobile vision -->
  <div class="hide-desktop light-gray-background" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Vision/vision3.jpg"%>'); background-size: cover; background-position: center;">
    <div class="content-container">

      <div class="vision-card text-center">
      <h1><i class="fas fa-heartbeat orange"></i></h1>
      <h2 class="bold home-h2-container"><%= t(".vision_title") %> </h2>
      <p><%= t(".vision_text") %></p>
      </div>
    </div>
  </div>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/5eabfd9710362a7578be0b03/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
    <!--End of Tawk.to Script-->
</body>
