<div class="banner home-background" style="background-image: linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0,0.5)), url('<%= image_path "Volunteering/Volunteering5.jpg"%>'); background-repeat: no-repeat;">
  <div class='container-fluid home-container pt-4'>
          <% if user_signed_in? %>

          <div class="d-flex justify-content-between align-items-center navbar-home">
            <div class="position-static">
              <%= render 'shared/logo_top_left' %>
            </div>
            <div class="hide-desktop">
              <h3 class="paragraph-no-margin mt-4"> <%= link_to 'My dashboard', user_profile_path(current_user), class: "text-homepage mr-4" %> </h3>
            </div>
          </div>

          <% else %>
          <div class="d-flex justify-content-between align-items-center navbar-home">
            <div class="position-static">
            <%= render 'shared/logo_top_left' %>
            </div>
            <div class="hide-desktop">
              <h3 class="paragraph-no-margin mt-4"> <%= link_to "Login", "", data: {toggle: "modal", target: ".bd-example-modal-lg"}, class: "nav-link text-homepage mr-4" %> </h3>
            </div>
          </div>
          <% end %>

        <h1 class="slogan home slogan-home"><strong>Support local causes.<br>Do it with friends.</strong></h1>

        <h3 class="text homepage text-homepage">
          Find opportunities around you, <br>
          build a team, volunteer together.
        </h3>

        <%= link_to "Vamos!", filter_location_path, class: "button-vamos primary-style" %>

      <h3 class="text-right mt-3"><%= link_to "Find volunteers", new_ngo_path, class: "white" %></h3>

  </div>
</div>
