

<div class="banner home-background" style="background-image: linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0,0.4)), url('<%= image_path "strongtogether.jpg"%>'); background-repeat: no-repeat;">

  <div class='container-fluid home-container pt-4'>

    <div class="row align-items-center">
      <div class="col-sm-10 offset-1 home-text">

        <div class="d-flex justify-content-between align-items-center navbar-home">
          <% if user_signed_in? %>
          <%= render 'shared/logo_top_left' %>
          <h3 class="paragraph-no-margin"> <%= link_to 'My dashboard', user_profile_path(current_user), class: "text-homepage mr-4" %> </h3>
          <% else %>
          <%= render 'shared/logo_top_left' %>
          <h3 class="paragraph-no-margin"> <%= link_to 'Login', new_user_session_path, class: "text-homepage mr-4" %> </h3>
          <% end %>
        </div>

        <h1 class="slogan home slogan-home"><strong>Support local causes.<br>Do it with friends.</strong></h1>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-10 offset-1 home-text image-box-background">
        <h3 class="text homepage text-homepage">
          Find opportunities around you, <br>
          build a team, volunteer together.
        </h3>
      </div>
    </div>

    <div class= "row align-items-center">
      <div class="col-sm-10 offset-1 home-text">
        <%= link_to "Vamos!", filter_location_path, class: "button-vamos primary-style" %>
      </div>
      <div class="col-sm-10 offset-1 home-text">
        <%= link_to "I'm an NGO", new_ngo_path, class: "button-vamos secondary-style " %>
      </div>


    </div>

  </div>
</div>
