<div class="banner home-background" style="background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0,0.4)), url('<%= image_path "Volunteering/Volunteering5.jpg"%>'); background-repeat: no-repeat;">
  <div class='container-fluid home-container py-4'>
          <% if user_signed_in? %>

          <div class="d-flex justify-content-between align-items-center navbar-home">
            <div class="position-static">
              <%= render 'shared/logo_top_left' %>
            </div>
            <div class="hide-desktop">
              <h3 class="paragraph-no-margin mt-2"> <%= link_to 'My dashboard', user_profile_path(current_user), class: "white mr-4 hide-desktop" %> </h3>
            </div>
          </div>

          <% else %>
          <div class="d-flex justify-content-between align-items-center navbar-home">
            <div class="position-static">
            <%= render 'shared/logo_top_left' %>
            </div>
            <div class="hide-desktop">
              <h3 class="paragraph-no-margin"> <%= link_to "Login", "", data: {toggle: "modal", target: ".bd-example-modal-lg"}, class: "nav-link text-homepage mr-2" %> </h3>
            </div>
          </div>
          <% end %>
      <div class="d-flex">
        <div>
          <h1 class="slogan-home"><strong>Support local causes.<br>Do it with friends.</strong></h1>
          <h3 class="text homepage text-homepage">
            Filter, search, apply for <br>volunteering around you!
          </h3>

          <%= link_to "Vamos!", filter_location_path, class: "button-vamos primary-style w-100 mt-3" %>

          <h3 class="text-right mt-4 "><%= link_to "Find volunteers >>", new_ngo_path, class: "white hide-desktop"%></h3>
        </div>
      </div>
  </div>
</div>

<!-- USP Description -->

<div class="usp-description d-flex py-5 px-4 hide-desktop justify-content-around align-items-center">

  <%= image_tag "Screens/index.png", class: "phone-screen hide-mobile ml-5"%>

  <div class="usp-info mr-3">
    <div class="d-flex align-items-center">
      <h2><i class="fas fa-search orange mr-4"></i></h2>
      <div>
        <h2 class="orange">Find local projects that fit you</h2>
        <p>With Vamos you can filter by category, location and time to find the best opportunity for you.</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-5">
      <h2><i class="fas fa-file-alt orange mr-4"></i></h2>
      <div>
        <h2 class="orange">Apply with your friends</h2>
        <p>At Vamos you can sign up for volunteering together with your friends and with a few click send an application as a team.</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-5">
      <h2><i class="fas fa-comments orange mr-4"></i></h2>
      <div>
      <h2 class="orange">Chat with the project owner</h2>
      <p>Find out all the details about the opportunity and engage with the volunteering coordinator via chat.</p>
      </div>
    </div>

  </div>
</div>

<!-- CTA NGO
 -->

<div class="d-flex justify-content-center text-center light-gray-background">
  <div>
    <h2 class="bold home-h2-container">Looking for volunteers? </h2>
    <p>Create your first project for free in less than <strong>3 minutes!</strong></p>
    <%= link_to "Get started", new_ngo_path, class: "button-vamos primary-style mt-2" %>
  </div>
</div>

<!-- App Description
 -->
<div class="content-container hide-mobile">
  <div class="product-description text-center mt-5">
    <h2 clas="orange">How do I find volunteering on Vamos?</h2>

    <div class="d-flex align-items-top mt-5 mb-5 px-5 justify-content-center">

      <div class="feature-info">
        <h2><i class="fas fa-filter orange mb-2"></i></h2>
        <p>Filter by location, cause and time investment.</p>
      </div>

      <i class="fas fa-chevron-right mx-4 mt-2 orange"></i>

      <div class="feature-info">
        <h2><i class="fas fa-info-circle orange mb-2"></i></h2>
        <p>Read detailled info about volunteering opportunties.</p>
      </div>

      <i class="fas fa-chevron-right mx-4 orange mt-2 "></i>

       <div class="feature-info">
        <h2><i class="fas fa-file-alt orange mb-2"></i></h2>
        <p>Create your team and apply.</p>
      </div>

      <i class="fas fa-chevron-right mx-4 orange mt-2 "></i>

      <div class="feature-info">
        <h2><i class="fas fa-check-circle orange mb-2"></i></h2>
        <p>The project owner accepts the application.</p>
      </div>

      <i class="fas fa-chevron-right mx-4 orange mt-2 "></i>

      <div class="feature-info">
        <h2><i class="fas fa-comments orange mb-2"></i></h2>
        <p>Chat with the contact person and your team.</p>
      </div>

    </div>

  </div>
</div>

<!-- Vision
 -->
<!--     desktop vision -->

<div class="hide-mobile light-gray-background banner-vision">
  <div class="content-container">
    <div class="vision-card d-flex align-items-center">
      <h1><i class="fas fa-heartbeat orange mr-5"></i></h1>
      <div>
        <h2 class="bold home-h2-container">Our Vision </h2>
        <p>We want to empower people to do good in their local environment and at the same time make memorable experiences with their friends. Using our platform, volunteers should feel inspired and motivated to help others in need and feel a sense of fulfillment in their lives.
        </p>
      </div>
    </div>
  </div>
</div>

<!--     mobile vision -->
<div class="hide-desktop light-gray-background banner-vision">
  <div class="content-container">

    <div class="vision-card text-center">
    <h1><i class="fas fa-heartbeat orange"></i></h1>
    <h2 class="bold home-h2-container">Our Vision </h2>
    <p>We want to empower people to do good in their local environment and at the same time make memorable experiences with their friends. Using our platform, volunteers should feel inspired and motivated to help others in need and feel a sense of fulfillment in their lives.
    </p>
    </div>
  </div>
</div>























