<div class="info-window">
  <%= link_to project_path(project) do %>
  <div class="project-image">
    <% if project.photos.attached? %>
      <%= cl_image_tag project.photos.first.key%>
    <% end %>
  </div>
  <div class="project-title">
    <h5><%= project.title %></h5>
  </div>
  <div class="project-ngo">
    <p class="project-ong"><%= project.ngo.name if project.ngo %></p>
  </div>
  <div class="project-elements d-flex justify-content-between">
    <div><i class="far fa-clock"></i><%= project.hours_per_week %>h/week</div>
    <div><i class="fas fa-user-friends"></i><%= project.capacity%></div>
    <div><i class="fas fa-map-marker-alt"></i> 0.5km</div>
  </div>
</div>
<% end %>

