<div class="info-window">
  <%= link_to project_path(project) do %>
  <div class="project-image">
    <% if project.photos.attached? %>
      <%= cl_image_tag project.photos.first.key%>
    <% end %>
  </div>

  <div class="project-text-stuff ml-2">
    <h3 class="mt-2 mb-1"><%= link_to project.title, project_path(project), class: "project-title"%></h3>
    <p class="project-ong mb-3"><%= project.ngo.name if project.ngo %></p>
    <div class="project-elements d-flex justify-content-left">
      <div class="element"><i class="far fa-clock"></i><%= l(project.start_date, format: :short) %></div>
      <%=  %>

      <% if project.capacity < 1 %>
      <div class="element mr-3"><i class="fas fa-user-friends"></i> <%= t(".spots_zero") %></div>
      <% elsif project.capacity < 6 %>
      <div class="element mr-3"><i class="fas fa-user-friends"></i> <%= t(".spots_low", name: project.capacity) %></div>
      <% else %>
      <div class="element mr-3"><i class="fas fa-user-friends"></i> <%= t(".spots_high", name: project.capacity) %> </div>
      <% end %>

      <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>">calc.</span></div>
    </div>
  </div>
  <% end %>
</div>
