 <div class="buttons filter-buttons">
  <% categories = {
    t("global.interests.children") => "fas fa-child",
    t("global.interests.social") => "fas fa-user-friends mr-0",
    t("global.interests.cultural") => "fas fa-music",
    t("global.interests.climate") => "fas fa-leaf",
    t("global.interests.medical") => "fas fa-briefcase-medical",
    t("global.interests.seniors") => "fab fa-accessible-icon",
    } %>
  <% categories.each do |category, logo| %>
  <input type="checkbox" class="hidden category-input" value="<%= category %>" name="categories[]" id="categories_<%= category %>" <%= "checked" if params[:categories]&.include?(category) %> >
  <label class="category-button button <%= "active" if params[:categories]&.include?(category) %>" for="categories_<%= category %>">
    <div class="width-small-interest text-center">
      <div class="interest-icon">
        <i class="<%= logo %>"></i>
      </div>
      <%= category%>
    </div>
  </label>

  <% end %>
</div>
