<div class = "content-container">
  <p class="opportunities-counter"> We found <%= @projects.count(:all) %> oportunities near you</p>
  <div class="filters d-flex justify-content-left">
    <div class="filter py-1 px-3">Location</div>
    <div class="filter py-1 px-3">Interest</div>
    <div class="filter py-1 px-3">Hours</div>
  </div>
  <div class="card-container my-3">

    <% @projects.each do |project| %>
    <%= link_to project_path(project) do %>
    <div class="project-card my-4">
      <div class="project-image" style="background-image: url('<%= cl_image_path project.photos.first.key %>')">
        <div class="interest-icon border rounded-circle">
          <!-- <i class="fas fa-leaf"></i> -->
          <% if project.category == "Children" %>
            <i class="icon fas fa-child"></i>
          <% elsif project.category == "Social" %>
            <i class="icon fas fa-user-friends"></i>
          <% elsif project.category == "Cultural" %>
            <i class="icon fas fa-music"></i>
          <% elsif project.category == "Environment" %>
            <i class="icon fas fa-leaf"></i>
          <% else project.category == "Elderly Care" %>
            <i class="icon fab fa-accessible-icon"></i>
          <% end %>
        </div>
      </div>
      <div class="project-text-stuff">
        <h5 class="project-title"><%= project.title %></h5>
        <p class="project-ong"><%= project.ngo.name if project.ngo %></p>
        <div class="project-elements d-flex justify-content-left">
          <div class="element"><i class="far fa-clock"></i><%= project.hours_per_week %>h/week</div>
          <div class="element"><i class="fas fa-user-friends"></i><%= project.capacity%></div>
          <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>">calculating...</span></div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>

<!-- DELETE FROM HERE -->
<!--     <div class="project-card my-4">
      <div class="project-image" style="background-image: url(<%= image_path 'teacher.jpg' %>)">
        <div class="interest-icon border rounded-circle">
          <i class="fas fa-leaf"></i>
        </div>
      </div>
      <h5 class="project-title">Teach English to inmigrant children </h5>
      <p class="project-ong">Red Cross</p>
      <div class="project-elements d-flex justify-content-left">
        <div class="element"><i class="far fa-clock"></i> 5 h</div>
        <div class="element"><i class="fas fa-user-friends"></i> 10</div>
        <div class="element"><i class="fas fa-map-marker-alt"></i> 0.5km</div>
      </div>
    </div> -->
<!-- TILL HERE (IT'S A ROW FOR TESTING) -->
  </div>
</div>



<!-- Button trigger modal -->
  <i id="map_button" button class ="fas fa-map-marker-alt open-map-modal fa-2x" data-toggle="modal" data-target="#exampleModal"></i>



  <!-- Modal -->
  <div class="custom-map-modal">
    <div class="position-relative">
      <div style="top: 25px; left: 25px; z-index: 2000" class="position-absolute close-map-modal">
        <i class="far fa-times-circle fa-2x"></i>
      </div>
      <div
        id="map"
        style="width: 100vw;
        height: 100vh;
        overflow: visible;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>


  <!-- Function JS to calculate the distance between the ngo location and user location -->






