<!-- MOBILE INDEX PAGE -->
<div class="mobile-projects-index">
  <div class="has-navbar-so-margin">
    <%= render 'shared/mobile_navbar' %>
    <div class = "content-container">
      <p class="opportunities-counter"> We found <%= @count %> opportunities near you</p>
      <div class="filters d-flex justify-content-left">
        <div style="font-size: 16px" class="filter py-1 px-5" data-toggle="modal" data-target="#filterModalMobile">Filter</div>
      </div>
      <div class="mobile-card-container my-3">
        <% @projects.each do |project| %>
          <%= link_to project_path(project) do %>
            <div class="mobile-project-card my-4">

              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <% project.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>" class="active"></li>
                    <% else %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>"></li>
                    <% end %>
                  <% end %>
                </ol>
                <div class="carousel-inner">
                  <% project.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                      <div class="carousel-item active">
                        <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                        <%= render "projects/partial_card_icons", project: project %>
                      </div>
                    <% else %>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                        <%= render "projects/partial_card_icons", project: project %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="project-text-stuff ml-2">
                <h5 class="mt-2"><%= link_to project.title, project_path(project), class: "project-title"%></h5>
                <p class="project-ong"><%= project.ngo.name if project.ngo %></p>
                <div class="project-elements d-flex justify-content-left">
                  <div class="element"><i class="far fa-clock"></i><%= project.hours_per_week %>h/week</div>
                  <div class="element"><i class="fas fa-user-friends"></i><%= project.capacity%></div>
                  <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>">calculating...</span></div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Map Modal -->
  <i id="map_button" button class ="fas fa-map-marker-alt open-map-modal fa-2x"></i>
  <!-- Modal -->
  <div class="custom-map-modal">
    <div class="position-relative">
      <div style="top: 25px; left: 25px; z-index: 2000" class="position-absolute close-map-modal">
        <i class="far fa-times-circle fa-2x"></i>
      </div>
      <div
        id="map-mobile"
        style="width: 100vw;
        height: 100vh;
        overflow: visible;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <!-- Function JS to calculate the distance between the ngo location and user location -->
  <!-- Mobile Filter Modal -->
  <div class="modal fade" id="filterModalMobile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Filter Volunteering Opportunities</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2 class="mb-2">Location</h2>
          <%= form_with url: "/projects", method: :get, local: true do |f| %>
          <%= f.text_field :address, placeholder: 'Location', label:false %>
          <h2 class="mt-4">Interests</h2>

              <div class="buttons filter-buttons">
                <% categories = {
                  "Children" => "fas fa-child",
                  "Social" => "fas fa-user-friends mr-0",
                  "Cultural" => "fas fa-music",
                  "Climate" => "fas fa-leaf",
                  "Medical" => "fas fa-briefcase-medical",
                  "Seniors" => "fab fa-accessible-icon",
                  } %>
                <% categories.each do |category, logo| %>
                <input type="checkbox" class="hidden category-input" value="<%= category %>" name="categories[]" id="mobile_categories_<%= category %>" <%= "checked" if params[:categories]&.include?(category) %> >
                <label id="mobile-button" class="category-button button <%= "active" if params[:categories]&.include?(category) %>" for="mobile_categories_<%= category %>">
                  <div>
                    <div class="interest-icon">
                      <i class="<%= logo %>"></i>
                    </div>
                    <%= category%>
                  </div>
                </label>
                <% end %>
              </div>

          <h2 class="mt-4 mb-2">Hours per Week</h2>

        <!--   This does not work desktop -->

          <div class="buttons filter-buttons">
            <% ["1 - 4 h/week", "5 - 9 h/week", "10+ h/week"].each do |time| %>
            <input type="checkbox" class="hidden time-input" value="<%= time %>" name="time[]" id="time_<%= time %>" <%= "checked" if params[:time]&.include?(time) %>>
            <label id="mobile-button" class="time-button button <%= "active" if params[:time]&.include?(time) %>" for="time_<%= time %>">
              <%= time %>
            </label>
            <% end %>
          </div>

        <!--   End -->

        </div>
        <div class = "content-container">
        <div class="modal-footer"></div>
        <%= f.submit "Save filter", class: "button-vamos primary-style mt-0 w-100" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- DESKTOP INDEX PAGE -->
<div class="has-navbar-so-margin">
<%= render 'shared/mobile_navbar' %>
<div class="desktop-projects-index">
  <div class="d-flex">
    <div class="desktop-card-container">
        <div class="opportunities-filter p-3">
          <p class="opportunities-counter"> We found <%= @count %> opportunities near you</p>
          <div class="filters d-flex justify-content-left">
            <div style="font-size: 16px" class="filter py-1 px-5" data-toggle="modal" data-target="#filterModalDesktop">
              Filter
            </div>
          </div>
        </div>
      <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="row mx-3 py-4 border-top">
          <div class = "desktop-project-card">
            <div>
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <% project.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>" class="active"></li>
                    <% else %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<% index %>"></li>
                    <% end %>
                  <% end %>
                </ol>
                <div class="carousel-inner">
                  <% project.photos.each_with_index do |photo, index| %>
                    <% if index == 0 %>
                      <div class="carousel-item active">
                        <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                      </div>
                    <% else %>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, class: "d-block project-image", alt:"Project picture" %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="project-text-stuff ml-3">
              <h5><%= link_to project.title, project_path(project), class: "project-title"%></h5>
              <p class="project-ong my-2"><%= project.ngo.name if project.ngo %></p>
              <div class="project-elements d-flex">
                <div class="element mr-3"><i class="far fa-clock"></i><%= project.hours_per_week %>h/week</div>
                <div class="element mr-3"><i class="fas fa-user-friends"></i><%= project.capacity%></div>
                <div class="element"><i class="fas fa-map-marker-alt"></i> <span class="location-to-replace" data-latitude="<%= project.latitude %>" data-longitude="<%= project.longitude %>">calculating...</span></div>
              </div>
              <div class="project-description mt-4">
                <p class="paragraph-no-margin"><%= project.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
<!-- Desktop Map -->
    <div class="desktop-map">
      <div
        id="map-desktop"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
<!-- Desktop Filters -->
    <div class="modal fade" id="filterModalDesktop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Filter Volunteering Opportunities</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2 class="mb-2">Location</h2>
            <%= form_with url: "/projects", method: :get, local: true do |f| %>
            <%= f.text_field :address, placeholder: 'Location', label:false, id:"filter-desktop-location" %>
            <h2 class="mt-4">Interests</h2>

                <div class="buttons filter-buttons">
                  <% categories = {
                    "Children" => "fas fa-child",
                    "Social" => "fas fa-user-friends mr-0",
                    "Cultural" => "fas fa-music",
                    "Climate" => "fas fa-leaf",
                    "Medical" => "fas fa-briefcase-medical",
                    "Seniors" => "fab fa-accessible-icon",
                    } %>
                  <% categories.each do |category, logo| %>
                  <input type="checkbox" class="hidden category-input" value="<%= category %>" name="categories[]" id="desktop_categories_<%= category %>" <%= "checked" if params[:categories]&.include?(category) %> >
                  <label id="desktop-button" class="category-button button <%= "active" if params[:categories]&.include?(category) %>" for="desktop_categories_<%= category %>">
                    <div>
                      <div class="interest-icon">
                        <i class="<%= logo %>"></i>
                      </div>
                      <%= category%>
                    </div>
                  </label>

                  <% end %>
                </div>

            <h2 class="mt-4 mb-2">Hours per Week</h2>

              <div class="buttons filter-buttons">
                <% ["1 - 4 h/week", "5 - 9 h/week", "10+ h/week"].each do |time| %>
                <input type="checkbox" class="hidden time-input" value="<%= time %>" name="time[]" id="desktop_time_<%= time %>" <%= "checked" if params[:time]&.include?(time) %>>
                <label id="desktop-button" class="time-button button <%= "active" if params[:time]&.include?(time) %>" for="desktop_time_<%= time %>">
                  <%= time %>
                </label>
                <% end %>
              </div>

          </div>
          <div class="content-container">
            <div class="modal-footer">
              </div>
              <%= f.submit "Save filter", class: "button-vamos primary-style mt-0 mb-2 w-100" %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
