<div class="content-container-photo">
<!--   Desktop version -->
  <div class= "desktop-view-create-project hide-mobile">
    <div class= "banner-home-page" style="background-image: url('<%= image_path "NGO_Project/create-project1.jpg"%>')">
      <div class= "card-category-ngo-new">

    <!-- form start -->
        <div class="form-group">

          <h2 class="mb-4"><%= t(".create") %> <span style="color: #fb8500"><%= t(".your") %> </span></h2>
          <p><%= t(".subheading") %> </p>
      <!-- Form -->

          <%= simple_form_for @project do |f|  %>
          <% if @project.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
         <% end %>
            <%= f.input :title, placeholder: t(".project_name"), label:false, class: 'form-control-project' %>
            <%= f.input :description, placeholder: t(".description"), label:false,class: 'form-control-project' %>
            <%= f.input :address, placeholder: t(".address"), label:false,class: 'form-control-project' %>
            <%= f.input :category, collection: t(".categories"), label:t(".category"), class: 'form-control' %>
            <div class="d-flex align-items-end justify-content-between">
              <%= f.input :capacity, collection: 1..30, label: t(".how_many"),class: 'form-control' %>
              <%= f.input :start_date, label: t(".start"),class: 'form-control' %>
            </div>


          <div class="d-flex align-items-center">
            <label class="button-upload-file mr-2">
            <%= t(".pictures") %>
            <span style="display:none;">
            <%= f.input :photos, as: :file, input_html: { multiple: true, class: "logo-input"} %>
            </span>
            </label>
            <div class="logo-file-name">
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div id="back">
              <%= link_to t(".back"),user_profile_path, class: "orange mt-10"%>
            </div>
            <%= f.submit t(".create") , class: "button-vamos primary-style w-50 mt-3 ml-10"%>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!--   Mobile version -->
  <div class="hide-desktop">
  <!--   Back arrow to go to dashboard -->

    <div class="d-flex mb-2 align-items-center justify-content-right">
      <i class='fas fa-chevron-left orange'></i>
      <i class='fas fa-chevron-left orange mr-1'></i>
      <%= link_to "Back to dashboard",user_profile_path, class: "orange"%>
    </div>

    <!-- form start -->
    <div class="form-group">

        <h1 class="mb-4">Create your project</h1>

      <!-- Form -->

        <%= simple_form_for @project do |f|  %>
        <% if @project.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= f.input :title, placeholder: t(".project_name"), label:false, class: 'form-control-project' %>
        <%= f.input :description, placeholder: t(".description"), label:false,class: 'form-control-project' %>
        <%= f.input :address, placeholder: t(".address"), label:false,class: 'form-control-project' %>
        <%= f.input :category, collection: t(".categories"), label:t(".category"), class: 'form-control' %>
        <%= f.input :capacity, collection: 1..30, label: t(".how_many"),class: 'form-control' %>
        <%= f.input :start_date, label: t(".start"),class: 'form-control' %>

        <div class="d-flex align-items-center">
          <label class="button-upload-file mr-2">
          <%= t(".pictures") %>
          <span style="display:none;">
          <%= f.input :photos, as: :file, input_html: { multiple: true, class: "logo-input"} %>
          </span>
          </label>
          <div class="logo-file-name">
          </div>
        </div>
        <%= f.submit t(".create"), class: "button-vamos primary-style w-100 mt-3"%>
        <% end %>

    </div>
  </div>
</div>
