<div class="content-container">
  <div class="form-group">

      <h1 class="mb-4">Create your project</h1>

  <!-- Form -->

      <%= simple_form_for @project do |f|  %>
      <% if @project.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :title, placeholder: 'Project name', label:false, class: 'form-control' %>
      <%= f.input :description, placeholder: 'Description', label:false,class: 'form-control' %>
      <%= f.input :address, placeholder: 'Address', label:false,class: 'form-control' %>
      <%= f.input :category, collection: ["Elderly Care", "Children", "Climate Change", "Social", "Cultural", "Medical Support"], label: "Category of Project", class: 'form-control' %>
      <%= f.input :capacity, collection: 1..30, label: "Number of Volunteers Needed",class: 'form-control' %>
      <%= f.input :hours_per_week, collection: 1..40, label: "Hours per Week for Volunteers",class: 'form-control' %>

      <div class="d-flex align-items-center">
        <label class="button-upload-file mr-2">
        Select Picture
        <span style="display:none;">
        <%= f.input :photos, as: :file, input_html: { multiple: true, class: "logo-input"} %>
        </span>
        </label>
        <div class="logo-file-name">
        </div>
      </div>
      <%= f.submit "Create new project", class: "btn btn-primary vamos w-100 mt-3"%>
      <% end %>

    </div>
  </div>
