
<% @project.photos.each do |photo|%>
<div>
<%= cl_image_tag photo.key, class: "project-image-show"%>
</div>
<% end %>

<div class="content-container mt-0">
<div class="row mt-2">
  <div class="col-6 tab-border-bottom text-center vcenter">
  <p class="mb-1">Project</p>
  </div>
  <div class="col-6 text-center vcenter">
  <p class="mb-1">NGO</p>
  </div>
</div>
</div>

<div class="content-container">

  <h2 class="h2-less-margin"><%= @project.title %></h2>
  <p><%= @project.ngo.name %></p>

  <div class="d-flex border-bottom">
    <div class="element mr-2"><i class="fas fa-user-friends"></i>
    </div>

    <div class="mr-3">
      <p><%= @project.capacity %> </p>
    </div>

    <div class="element mr-2"><i class="far fa-clock"></i>
    </div>

    <div class="mr-3">
      <p><%= @project.hours_per_week%> hours/week </p>
    </div>

    <div class="element mr-2"><i class="fas fa-map-marker-alt"></i>
    </div>

    <div class="mr-3">
      <p>5km</p>
    </div>
  </div>

  <div class="mt-2">
    <p><%= @project.description %> </p>
  </div>

  <div class="content-container">
    <div class="div">
    <p> <%= social_share_button_tag(@project.title, url: project_url(@project), image: "https://cdn.websites.hibu.com/55bc0f1f1970401fb99a2f59756c5921/dms3rep/multi/mobile/volunteering-hero-960x360.png", desc: @project.description)%></p>
    </div>
  </div>


  <div class="button-apply-show">
  <p class="paragraph-no-margin">APPLY WITH YOUR TEAM</p>
  </div>

</div>

<div class="content-container">
  <div>
  <%= image_tag("map.png", class: "image-map-show") %>
  </div>

  <div class="background-button">
  <div class="button-apply-show">
  <p class="paragraph-no-margin">APPLY WITH YOUR TEAM</p>
  </div>
  </div>

  <div class="content-container">
  <h2>Reviews for <%= @project.ngo.name %> projects</h2>
  </div>

  <div class="reviews d-flex my-5 align-items-center">
    <div class="mr-2">
    <%= cl_image_tag @project.ngo.user.photo.key, class: "avatar"%>
    </div>

    <div>
      <i class="fas fa-star"></i>
    </div>
    <div>
      <i class="fas fa-star"></i>
    </div>
    <div>
      <i class="fas fa-star"></i>
    </div>
    <div>
      <i class="far fa-star"></i>
    </div>
    <div class="mr-5">
      <i class="far fa-star"></i>
    </div>

    <div>
      <p class="paragraph-no-margin">Great experience with this organization, love to work there!</p>
    </div>
  </div>

  <div class="reviews d-flex my-5 align-items-center">
    <div class="mr-2">
    <%= cl_image_tag @project.ngo.user.photo.key, class: "avatar"%>
    </div>

    <div>
      <i class="fas fa-star"></i>
    </div>
    <div>
      <i class="fas fa-star"></i>
    </div>
    <div>
      <i class="fas fa-star"></i>
    </div>
    <div>
      <i class="far fa-star"></i>
    </div>
    <div class="mr-5">
      <i class="far fa-star"></i>
    </div>

    <div>
      <p class="paragraph-no-margin">Great experience with this organization, love to work there!</p>
    </div>
  </div>


</div>









