<%= render 'shared/logo_top_left' %>

<div class="content-container d-flex justify-content-center content-container login-forms">
   <div class="simple-form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.input :email,
                    required: false,
                    label: false,
                    autofocus: true,
                    placeholder: "Email",
                    input_html: { class: "mb-4", autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    label: false,
                    placeholder: "Password",
                    input_html: { class: "mb-4",autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-primary login-button my-3" %>
      </div>
    <% end %>
    <div class="my-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


