<div class="has-navbar-so-margin">
  <%= render 'shared/mobile_navbar' %>

  <% @application.project.photos.each do |photo|%>
  <div>
    <%= cl_image_tag photo.key, class: "project-image-show" %>
  </div>
  <% end %>

  <div class="d-flex justify-content-center align-items-center content-container mt-4">
    <div class="simple-form">

        <h1>
          <%= t(".write_a") %> <span style="color: #fb8500">"<%= @application.project.title %>"</span>
        </h1>

    <!-- Form -->
        <div class = "form pt-3">
          <%= simple_form_for [@application, @review] do |f|  %>
          <% if @review.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <%= f.input :content, label: t(".tell_us"), class: 'form-control' %>
          <%= f.input :rating, as: :select, collection: [0, 1, 2, 3, 4, 5] %>
          <%= f.submit t(".add"), class: "mt-1 button-vamos primary-style w-100"%>
          <% end %>
        </div>
    </div>
  </div>
</div>
