<div class="content-container">
  <div class="form-group">

      <h1 class="mb-4">
      Create a review for
      <span style="color: #fb8500"><%= @booking.project.title %></span>
      </h1>

  <!-- Form -->
      <div class = "form pt-5 mt-3">
        <%= simple_form_for [@booking, @review] do |f|  %>
        <% if @review.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= f.input :content, placeholder: 'Tell us how it went', label:false, class: 'form-control' %>
        <%= f.input :rating, as: :select, collection: [0, 1, 2, 3, 4, 5] %>
        <%= f.submit "Add your review", class: "btn btn-primary vamos w-100"%>
        <% end %>
      </div>
  </div>
</div>
